:root {
  --white: white;
  --black: rgb(0, 0, 0);
  --offWhite: #f6f6f6;
  --primary_main: #2f33d0;
  --primary_alt: #ff97d6;
  --secondary_1: #00deb5;
  --secondary_2: #ffc501;
  --secondary_3: #ff4b00;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
button:focus:not(:focus-visible) {
  outline: 0;
}
button:focus {
  outline: 0;
  box-shadow: 0;
  /* border-color: transparent; */
}


.vertical-center {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.horizontal-center {
  margin: 0;
  position: relative;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.header {
  width: 100%;
  height: 80px;
  display: block;
  background-color: var(--offWhite);

  /* So that the header follow when you scroll. */
  position: fixed;
  top: 0;
  z-index: 9999;
}

.footer {
  position: fixed;
  background-color: var(--offWhite);
  z-index: 9999;
}

.inner_header {
  width: 1200px;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.logo_container {
  height: 100%;
  display: table;
  float: left;
}

.logo_container h1 {
  color: black;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-size: 32px;
  font-weight: 200;
}

.logo_container h1 span {
  font-weight: 800;
}

.navigation {
  height: 100%;
  margin-left: 280px;
}

.navigation li {
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;
  margin-right: 20px;
}

.navigation li a {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: black;
  font-family: unset;
  font-weight: 700;
  font-size: 16px;
}

.navigation li a.active{
  color: var(--secondary_1);
  border-bottom: 2px solid var(--secondary_1);
}

.button_container {
  display: flex;
  float: right;
  height: 100%;
  align-items: center;
}

.highlighted {
  border: 4px solid rgb(110, 26, 226);
}

#img-logo {
  height: 78px;
}

.primary-button {
  height: 50%;
  margin-left: 20px;
  vertical-align: middle;
  object-position: 50% 50%;
  color: var(--white);
  background-color: var(--primary_main);
}

/* .primary-button:focus, */
.primary-button:hover {
  /* color: var(--primary_main); */
  background-color: var(--black);
  background-color: var(--secondary_1);
}

.secondary-button {
  height: 50%;
  margin-left: 20px;
  vertical-align: middle;
  object-position: 50% 50%;
  color: var(--primary_main);
  border-color: var(--primary_main);
}

/* .secondary-button:focus, */
.secondary-button:hover {
  color: var(--primary_main);
  background-color: var(--secondary_1);
}

.btn:focus {
  outline: none !important;
  box-shadow: none!important;
}

.offWhite {
  background-color: var(--offWhite);
}

/* custom colors */
.orangered:hover {
  background-color: transparent;
  color: var(--secondary_3);
  border-color: var(--secondary_3);
}
.orangered {
  /* background-color: orangered; */
  /* border-color: orangered;
  color: orangered; */
  border-color: var(--secondary_3);
  color: var(--secondary_3);
}

/* Bootstrap overrides */

.dropdown-menu.show {
  display: flex;
  flex-direction: column;
}

.top-main {
  top: 9rem;
}

.popover{
  z-index: 10000;
}

.form-label{
  font-weight: bold;
}

.row-spacing{
  margin-top: 1.5rem;
}

.toggles{
  background-color: aqua;
  color: black;
}

.toggles:hover{
  background-color: gray;
  color: white;
}

.toggles:checked{
  background-color: blue;
  color: white;
}

.homeContainer .primary-button {
  margin-left: 500px;
}

.carousel-item {
  width: 560px;
  height: 350px;
}

#contactPage .container {
  width: 50%;
  padding-bottom: 10vh;
}

#contactPage .primary-button {
  margin-left: 0px;
}

#counselorImage {
  max-height: 350px;
  width: auto;
}

#priceIndicator {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}

#filterDropdowns {
  width: 600px;
}

#locationOptions label {
  font-size: 20px;
}

#locationOptions .form-select {
  font-size: 24px;
  border-color: blue; 
  border-width: 1px; 
  border-style: solid;
}

#locationOptions input {
  height: 24px;
  width: 24px;
}

#forgotPasswordPage {
  width: 50%;
  margin-bottom: 10vh;
}

#forgotPasswordPage .btn {
  margin-left: 0px;
}

/* MOBILE DEVICES */
@media only screen and (max-device-width: 576px)
 {

  /* home page */

  .homeContainer h1 {
    font-size: 72px;
    text-align: center;
  }

  .homeContainer h3 {
    font-size: 36px;
  }

  .homeContainer .carousel-item {
    width: 1120px;
    height: 700px;
  }

  .homeContainer .carousel-inner {
    width: 1120px;
    height: 700px;
  }

  .homeContainer .btn {
    font-size: 36px;
    width: 300px;
  }

  .homeContainer .primary-button {
    margin-left: 400px;
  }

  /* about page */

  #aboutPage .col {
    width: 1200px;
  }

  #aboutPage h2, h4 {
    font-size: 36px;
    padding: 5px;
  }

  #aboutPage h1 {
    font-size: 60px;
    font-weight: bold;
  }

  /* faq page */

  #faqPage h1 {
    font-size: 60px;
  }

  #faqPage h4 {
    font-size: 48px;
    padding-bottom: 5px;
    padding-top: 10px;
  }

  #faqPage p {
    font-size: 36px;
  }

  /* contact page */

  #contactPage .container {
    width: 90%;
  }

  #contactPage h1 {
    font-size: 60px;
    font-weight: bold;
  }

  #contactPage label {
    font-size: 36px;
  }

  #contactPage .form-control {
    font-size: 36px;
  }

  #contactPage .form-check-input {
    font-size: 36px;
    padding: 5px;
  }

  #contactPage .form-check-label {
    font-size: 36px;
    padding-right: 25px;
  }

  #contactPage .btn {
    font-size: 36px;
  }

  #contactPage .primary-button {
    margin-left: 0px;
  }

  /* find a counselor page */

  #filterPage #filterButton {
    font-size: 48px;
    width: 400px;
  }

  #filterPage h1 {
    font-size: 48px;
  }

  #filterPage label {
    font-size: 36px;
    font-weight: bold;
  }

  #filterPage a {
    font-size: 36px;
    font-weight: bold;
  }

  #priceIndicator {
    font-size: 48px;
    font-weight: bold;
  }

  #customRange1 {
    padding-bottom: 50px;
  }

  #customRange1::-webkit-slider-runnable-track {
    height: 24px;
  }

  #customRange1::-webkit-slider-thumb {
    height: 30px;
    width: 30px;
  }

  #filterDropdowns {
    width: 1200px;
  }

  #locationOptions label {
    font-size: 36px;
  }
  
  #locationOptions .form-select {
    font-size: 36px;
  }
  
  #locationOptions input {
    height: 36px;
    width: 36px;
  }

  #counselorPic {
    width: 1200px;
    height: 450px;
  }

  #counselorInfo {
    width: 1200px;
  }

  #counselorInfo p {
    font-size: 24px;
  }

  #counselorInfo h5 {
    font-size: 36px;
  }

  #counselorInfo h6 {
    font-size: 30px;
  }

  #counselorInfo .btn {
    font-size: 36px;
  }

  #counselorBio p {
    font-size: 24px;
  }

  #counselorBio h5 {
    font-size: 36px;
  }

  #counselorBio h6 {
    font-size: 30px;
  }

  #counselorBio .btn {
    font-size: 36px;
  }

  #counselorCredentials {
    font-size: 36px;
  }

  #counselorImage {
    max-height: 450px;
    width: auto;
  }

  .buttonContainer {
    text-align: center;
  }

  /* add a counselor page */

  #addCounselorPage h1 {
    font-size: 72px;
  }

  #addCounselorPage .image-upload__preview {
    width: 42rem;
    height: 42rem;
  }

  #addCounselorPage p {
    font-size: 48px;
  }

  #addCounselorPage .btn {
    font-size: 36px;
    width: 300px;
  }

  #addCounselorPage .form-label {
    font-size: 36px;
  }

  #addCounselorPage .form-control {
    width: 1200px;
    font-size: 36px;
  }

  #addCounselorPage .form-check-input {
    height: 36px;
    width: 36px;
  }

  #addCounselorPage #submitContainer {
    text-align: center;
  }

  /* register page */

  #registerPage h1 {
    font-size: 72px;
    text-align: center;
  }

  #registerPage .form-label{
    font-size: 36px;
  }

  #registerPage .form-control{
    font-size: 36px;
  }

  #registerPage #registerButton {
    text-align: center;
  }

  #registerPage .btn {
    width: 300px;
    font-size: 36px;
  }

  /* user list page */
  #userListPage h1 {
    font-size: 72px;
  }

  #userListPage .form-input {
    font-size: 36px;
  }

  #userListPage .form-control {
    font-size: 36px;
  }

  #userListPage #button-addon2 {
    font-size: 36px;
  }

  #userListPage h5 {
    font-size: 28px;
    width: 400px;
  }

  #userListPage p {
    font-size: 24px;
    width: 400px;
  }

  #userListPage input[type="radio"] {
    height: 28px;
    width: 28px;
  }

  #userListPage #radioContainer {
    width: 500px;
  }

  #userListPage label {
    font-size: 28px;
  }

  #userListPage .btn {
    font-size: 28px;
  }

  /* user profile page */

  #userProfilePage h1 {
    font-size: 72px;
    text-align: center;
  }

  #userProfilePage input {
    font-size: 36px;
    width: 1200px;
  }

  #userProfilePage label {
    font-size: 36px;
  }

  #userProfilePage .btn {
    font-size: 36px;
  }

  #userProfilePage #buttonContainer {
    text-align: center;
  }

  /* forgot password page */

  #forgotPasswordPage {
    width: 1200px;
  }

  #forgotPasswordPage h1 {
    font-size: 72px;
    font-weight: bold;
  }

  #forgotPasswordPage input {
    font-size: 48px;
  }

  #forgotPasswordPage .btn {
    font-size: 48px;
    margin-left: 5px;
  }

}

/* TABLET DEVICES */
@media only screen and (min-device-width: 576px) and (max-device-width: 1024px)
 {
   body, h1, h2, h3, h4, h5, h6 {
     width: 65vw;
   }

  /* home page */

  .homeContainer h1 {
    font-size: 65px;
    text-align: center;
  }

  .homeContainer .primary-button {
    margin-left: 28vw;
  }
  
  .homeContainer h1 {
    width: 60vw;
    font-size: 120px;
  }

  .homeContainer h3 {
    width: 60vw;
    font-size: 40px;
  }

  .homeContainer .carousel-item {
    width: 65vw;
    height: 36vh;
  }

  .homeContainer .carousel-inner {
    width: 65vw;
    height: 36vh;
  }

  .homeContainer .btn {
    font-size: 40px;
    width: 300px;
  }

  /* about page */

  #aboutPage .col, #aboutPage h1, #aboutPage h2, #aboutPage h4, #aboutPage p {
    width: 60vw;
    text-align: center;
  }

  #aboutPage h2, #aboutPage h4 {
    font-size: 36px;
    padding: 5px;
  }

  #aboutPage h1 {
    font-size: 60px;
    font-weight: bold;
  }

  #aboutPage h4 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
  }

  /* faq page */

  #faqPage , #faqPage h1, #faqPage h4, #faqPage p {
    width: 65vw;
  }

  #faqPage h1 {
    font-size: 60px;
  }

  #faqPage h4 {
    font-size: 48px;
    padding-bottom: 5px;
    padding-top: 10px;
  }

  #faqPage p {
    font-size: 36px;
  }

  /* contact page */
  #contactPage .container {
    width: 65vw;
  }

  #contactPage .form-control {
    width: 65vw;
    font-size: 36px;
  }

  #contactPage h1 {
    font-size: 60px;
    font-weight: bold;
  }

  #contactPage label {
    font-size: 36px;
  }

  #contactPage .form-check-input {
    font-size: 36px;
    padding: 5px;
  }

  #contactPage .form-check-label {
    font-size: 36px;
    padding-right: 25px;
  }

  #contactPage .btn {
    font-size: 36px;
  }

  #contactPage .primary-button {
    margin-left: 400px;
  }

  /* find a counselor page */

  #filterPage {
    width: 65vw;
  }

  #filterPage h1, #filterPage h2, #filterPage h3, #filterPage h5, #filterPage h6, #filterPage p {
    width: 65vw;
    text-align: left;
  }

  #filterPage #rolePrompt {
    width: 10vw;
    font-size: 36px;
  }

  #filterPage #filterButton {
    font-size: 48px;
    width: 400px;
  }

  #filterPage h1 {
    font-size: 48px;
  }

  #filterPage label {
    font-size: 36px;
    font-weight: bold;
  }

  #filterPage a {
    font-size: 36px;
    font-weight: bold;
  }

  #priceIndicator {
    font-size: 48px;
    font-weight: bold;
  }

  #customRange1 {
    padding-bottom: 50px;
  }

  #customRange1::-webkit-slider-runnable-track {
    height: 24px;
    width: 65vw;
  }

  #customRange1::-webkit-slider-thumb {
    height: 30px;
    width: 30px;
  }

  #filterDropdowns {
    width: 65vw;
  }

  #locationOptions label {
    font-size: 36px;
  }
  
  #locationOptions .form-select {
    font-size: 36px;
  }
  
  #locationOptions input {
    height: 36px;
    width: 36px;
  }

  #counselorPic {
    width: 70vw;
    height: 450px;
  }

  #counselorInfo {
    width: 70vw;
  }

  #counselorInfo p {
    font-size: 24px;
  }

  #counselorInfo h5 {
    font-size: 36px;
  }

  #counselorInfo h6 {
    font-size: 30px;
  }

  #counselorInfo .btn {
    font-size: 36px;
  }

  #counselorBio p {
    font-size: 24px;
  }

  #counselorBio h5 {
    font-size: 36px;
  }

  #counselorBio h6 {
    font-size: 30px;
  }

  #counselorBio .btn {
    font-size: 36px;
  }

  #counselorCredentials {
    font-size: 36px;
  }

  #counselorImage {
    max-height: 450px;
    width: auto;
  }

  .buttonContainer {
    text-align: center;
  }


    /* add a counselor page */
    #addCounselorPage {
      width: 65vw;
    }

    #addCounselorPage h1 {
      font-size: 72px;
      width: 60vw;
    }
  
    #addCounselorPage .image-upload {
      width: 60vw;
    }

    #addCounselorPage .image-upload__preview {
      width: 42rem;
      height: 42rem;
    }
  
    #addCounselorPage p {
      font-size: 48px;
      text-align: center;
    }
  
    #addCounselorPage .btn {
      font-size: 36px;
      width: 300px;
    }
  
    #addCounselorPage .form-label {
      font-size: 36px;
    }
  
    #addCounselorPage .form-control {
      width: 65vw;
      font-size: 36px;
    }
  
    #addCounselorPage .form-check-input {
      height: 36px;
      width: 36px;
    }
  
    #addCounselorPage #submitContainer {
      text-align: center;
    }

    /* register page */

    #registerPage {
      width: 65vw;
    }

    #registerPage h1 {
      width: 65vw;
      font-size: 72px;
      text-align: center;
    }

    #registerPage .form-label{
      font-size: 36px;
    }

    #registerPage .form-control{
      font-size: 36px;
      width: 32vw;
    }

    #registerPage #registerButton {
      text-align: center;
    }

    #registerPage .btn {
      width: 300px;
      font-size: 36px;
    }

  /* user list page */
  #userListPage {
    width: 65vw;
  }

  #userListPage .card {
    width: 65vw;
  }

  #userListPage .card-body {
    width: 60vw;
  }

  #userListPage h1 {
    font-size: 72px;
  }

  #userListPage .form-input {
    font-size: 36px;
  }

  #userListPage .form-control {
    font-size: 36px;
  }

  #userListPage #button-addon2 {
    font-size: 36px;
  }

  #userListPage h5 {
    font-size: 36px;
    width: 25vw;
  }

  #userListPage p {
    font-size: 28px;
    width: 25vw;
  }

  #userListPage input[type="radio"] {
    height: 36px;
    width: 36px;
  }

  #userListPage #radioContainer {
    width: 25vw;
  }

  #userListPage label {
    font-size: 36px;
  }

  #userListPage .btn {
    font-size: 36px;
  }

  /* user profile page */

  #userListPage {
    width: 65vw;
  }

  #userProfilePage h1 {
    font-size: 72px;
    text-align: center;
  }
  
    #userProfilePage input {
      font-size: 48px;
      width: 65vw;
    }
  
    #userProfilePage label {
      font-size: 48px;
    }
  
    #userProfilePage .btn {
      font-size: 48px;
      width: 400px;
    }

    #userProfilePage #buttonContainer {
      width: 65vw;
      margin-left: 20vw;
    }

    /* forgot password page */

    #forgotPasswordPage {
      width: 65vw;
    }
  
    #forgotPasswordPage h1 {
      font-size: 72px;
      font-weight: bold;
      width: 65vw;
    }
  
    #forgotPasswordPage input {
      font-size: 48px;
      width: 65vw;
    }
  
    #forgotPasswordPage .btn {
      font-size: 48px;
      width: 25vw;
      margin-left:12vw;
    }
  
}