:root {
  --white: white;
  --black: rgb(0, 0, 0);
  --offWhite: #f6f6f6;
  --primary_main: #2f33d0;
  --primary_alt: #ff97d6;
  --secondary_1: #00deb5;
  --secondary_2: #ffc501;
  --secondary_3: #ff4b00;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
button:focus:not(:focus-visible) {
  outline: 0;
}
button:focus {
  outline: 0;
  box-shadow: 0;
  /* border-color: transparent; */
}


.vertical-center {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.horizontal-center {
  margin: 0;
  position: relative;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.header {
  width: 100%;
  height: 80px;
  display: block;
  background-color: var(--offWhite);

  /* So that the header follow when you scroll. */
  position: fixed;
  top: 0;
  z-index: 9999;
}

.footer {
  background-color: var(--offWhite);
  z-index: 9999;
}

.inner_header {
  width: 1200px;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.logo_container {
  height: 100%;
  display: table;
  float: left;
}

.logo_container h1 {
  color: black;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-size: 32px;
  font-weight: 200;
}

.logo_container h1 span {
  font-weight: 800;
}

.navigation {
  height: 100%;
  margin-left: 280px;
}

.navigation li {
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;
  margin-right: 20px;
}

.navigation li a {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: black;
  font-family: unset;
  font-weight: 700;
  font-size: 16px;
}

.navigation li a.active{
  color: var(--secondary_1);
  border-bottom: 2px solid var(--secondary_1);
}

.button_container {
  display: flex;
  float: right;
  height: 100%;
  align-items: center;
}

.highlighted {
  border: 4px solid rgb(110, 26, 226);
}

#img-logo {
  height: 78px;
}

.primary-button {
  height: 50%;
  margin-left: 20px;
  vertical-align: middle;
  object-position: 50% 50%;
  color: var(--white);
  background-color: var(--primary_main);
}

/* .primary-button:focus, */
.primary-button:hover {
  /* color: var(--primary_main); */
  background-color: var(--black);
  background-color: var(--secondary_1);
}

.secondary-button {
  height: 50%;
  margin-left: 20px;
  vertical-align: middle;
  object-position: 50% 50%;
  color: var(--primary_main);
  border-color: var(--primary_main);
}

/* .secondary-button:focus, */
.secondary-button:hover {
  color: var(--primary_main);
  background-color: var(--secondary_1);
}

.btn:focus {
  outline: none !important;
  box-shadow: none!important;
}

.offWhite {
  background-color: var(--offWhite);
}

/* custom colors */
.orangered:hover {
  background-color: transparent;
  color: var(--secondary_3);
  border-color: var(--secondary_3);
}
.orangered {
  /* background-color: orangered; */
  /* border-color: orangered;
  color: orangered; */
  border-color: var(--secondary_3);
  color: var(--secondary_3);
}

/* Bootstrap overrides */

.dropdown-menu.show {
  display: flex;
  flex-direction: column;
}

.top-main {
  top: 9rem;
}

.popover{
  z-index: 10000;
}

.form-label{
  font-weight: bold;
}