:root {
  --white: white;
  --black: rgb(0, 0, 0);
  --offWhite: #f6f6f6;
  --primary_main: #2f33d0;
  --primary_alt: #ff97d6;
  --secondary_1: #00deb5;
  --secondary_2: #ffc501;
  --secondary_3: #ff4b00;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
button:focus:not(:focus-visible) {
  outline: 0;
}
button:focus {
  outline: 0;
  box-shadow: 0;
  /* border-color: transparent; */
}


.vertical-center {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.horizontal-center {
  margin: 0;
  position: relative;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.header {
  width: 100%;
  height: 80px;
  display: block;
  background-color: var(--offWhite);

  /* So that the header follow when you scroll. */
  position: fixed;
  top: 0;
  z-index: 9999;
}

.footer {
  position: fixed;
  background-color: var(--offWhite);
  z-index: 9999;
}

.footer img {
  width: 24px;
  height: 24px;
}

.footer a {
  color: 'grey';
  font-size: '15px';
}

.inner_header {
  width: 1200px;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.logo_container {
  height: 100%;
  display: table;
  float: left;
}

.logo_container h1 {
  color: black;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-size: 32px;
  font-weight: 200;
}

.logo_container h1 span {
  font-weight: 800;
}

.logo_container #img-logo {
  width: 90%;
}

.navigation {
  height: 100%;
  margin-left: 280px;
}

.navigation li {
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;
  margin-right: 20px;
}

.navigation li a {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: black;
  font-family: unset;
  font-weight: 700;
  font-size: 16px;
}

.navigation li a.active{
  color: var(--secondary_1);
  border-bottom: 2px solid var(--secondary_1);
}

.button_container {
  display: flex;
  float: right;
  height: 100%;
  align-items: center;
}

.highlighted {
  border: 4px solid rgb(110, 26, 226);
}

#img-logo {
  height: 78px;
}

.primary-button {
  height: 50%;
  margin-left: 20px;
  vertical-align: middle;
  object-position: 50% 50%;
  color: var(--white);
  background-color: var(--primary_main);
}

/* .primary-button:focus, */
.primary-button:hover {
  /* color: var(--primary_main); */
  background-color: var(--black);
  background-color: var(--secondary_1);
}

.secondary-button {
  height: 50%;
  margin-left: 20px;
  vertical-align: middle;
  object-position: 50% 50%;
  color: var(--primary_main);
  border-color: var(--primary_main);
}

/* .secondary-button:focus, */
.secondary-button:hover {
  color: var(--primary_main);
  background-color: var(--secondary_1);
}

.btn:focus {
  outline: none !important;
  box-shadow: none!important;
}

.offWhite {
  background-color: var(--offWhite);
}

/* custom colors */
.orangered:hover {
  background-color: transparent;
  color: var(--secondary_3);
  border-color: var(--secondary_3);
}
.orangered {
  /* background-color: orangered; */
  /* border-color: orangered;
  color: orangered; */
  border-color: var(--secondary_3);
  color: var(--secondary_3);
}

/* Bootstrap overrides */

.dropdown-menu.show {
  display: flex;
  flex-direction: column;
}

.top-main {
  top: 9rem;
}

.popover{
  z-index: 10000;
}

.form-label{
  font-weight: bold;
}

.row-spacing{
  margin-top: 1.5rem;
}

.toggles{
  background-color: aqua;
  color: black;
}

.toggles:hover{
  background-color: gray;
  color: white;
}

.toggles:checked{
  background-color: blue;
  color: white;
}

#homeContainer .primary-button {
  margin-left: 500px;
}

.carousel-item {
  width: 560px;
  height: 350px;
}

#contactPage .container {
  width: 50%;
  padding-bottom: 10vh;
}

#contactPage .primary-button {
  margin-left: 0px;
}

#counselorImage {
  max-height: 350px;
  width: auto;
}

#priceIndicator {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}

#filterDropdowns {
  width: 600px;
}

#locationOptions label {
  font-size: 20px;
}

#locationOptions .form-select {
  font-size: 24px;
  border-color: blue; 
  border-width: 1px; 
  border-style: solid;
}

#locationOptions input {
  height: 24px;
  width: 24px;
}

#forgotPasswordPage {
  width: 50%;
  margin-bottom: 10vh;
}

#forgotPasswordPage .btn {
  margin-left: 0px;
}

#counselorPic {
  padding: 0px;
}

#loginPage {
  width: 50%;
}

#accessButton {
  margin-top: 20px; 
  margin-bottom: 202px;
}

.hiddenValidationField {
  height: 1px;
  visibility: hidden;
}

.requiredIndicator {
  color: red;
  font-size: 10px;
  height: 2px;
}

/* MOBILE DEVICES */
@media only screen and (max-device-width: 576px)
 {

  body {
    padding-top: 50px;
    padding-bottom: 70px;
  }

  /* home page */

  #homeContainer h1 {
    font-size: 72px;
    text-align: center;
  }

  #homeContainer h3 {
    font-size: 56px;
  }

  #homeContainer .carousel-item {
    width: 1120px;
    height: 700px;
  }

  #homeContainer .carousel-inner {
    width: 1120px;
    height: 700px;
  }

  #homeContainer .btn {
    font-size: 48px;
    width: 300px;
  }

  #homeContainer .primary-button {
    margin-left: 400px;
  }

  /* about page */

  #aboutPage .col {
    width: 1200px;
  }

  #aboutPage h2, h4 {
    font-size: 48px;
    padding: 5px;
  }

  #aboutPage h1 {
    font-size: 72px;
    font-weight: bold;
    text-align: center;
  }

  /* faq page */

  #faqPage h1 {
    font-size: 72px;
  }

  #faqPage h4 {
    font-size: 56px;
    padding-bottom: 5px;
    padding-top: 10px;
  }

  #faqPage p {
    font-size: 48px;
  }

  /* contact page */

  #contactPage .container {
    width: 90%;
  }

  #contactPage h1 {
    font-size: 72px;
    font-weight: bold;
  }

  #contactPage label {
    font-size: 48px;
  }

  #contactPage .form-control {
    font-size: 48px;
  }

  #contactPage .form-check-input {
    font-size: 48px;
    padding: 10px;
  }

  #contactPage .form-check-label {
    font-size: 48px;
    padding-right: 72px;
    padding-left: 20px;
  }

  #contactPage .btn {
    font-size: 48px;
  }

  #contactPage .primary-button {
    margin-left: 0px;
  }

  /* find a counselor page */

  #filterPage #filterButton {
    font-size: 48px;
    width: 400px;
  }

  #filterPage h1 {
    font-size: 72px;
  }

  #filterPage label {
    font-size: 48px;
    font-weight: bold;
  }

  #filterPage a {
    font-size: 48px;
    font-weight: bold;
  }

  #priceIndicator {
    font-size: 48px;
    font-weight: bold;
  }

  #customRange1 {
    padding-bottom: 50px;
  }

  #customRange1::-webkit-slider-runnable-track {
    height: 48px;
  }

  #customRange1::-webkit-slider-thumb {
    height: 56px;
    width: 56px;
  }

  #filterDropdowns {
    width: 1200px;
  }

  #locationOptions label {
    font-size: 48px;
  }
  
  #locationOptions .form-select {
    font-size: 48px;
  }
  
  #locationOptions input {
    height: 56px;
    width: 56px;
  }

  #counselorPic {
    width: 1200px;
    height: 450px;
  }

  #counselorImage {
    max-height: 450px;
    width: auto;
  }

  #counselorInfo {
    width: 1200px;
  }

  #counselorInfo p {
    font-size: 36px;
  }

  #counselorInfo small {
    font-size: 24px;
  }

  #counselorInfo h5 {
    font-size: 48px;
  }

  #counselorInfo h6 {
    font-size: 36px;
  }

  #counselorInfo .btn {
    font-size: 36px;
  }

  #counselorBio p {
    font-size: 36px;
  }

  #counselorBio h5 {
    font-size: 48px;
  }

  #counselorBio h6 {
    font-size: 42px;
  }

  #counselorBio .btn {
    font-size: 36px;
  }

  #counselorCredentials {
    font-size: 42px;
  }

  .buttonContainer {
    text-align: center;
  }

  /* add a counselor page */

  #addCounselorPage h1 {
    font-size: 72px;
  }

  #addCounselorPage .image-upload__preview {
    width: 42rem;
    height: 42rem;
  }

  #addCounselorPage p {
    font-size: 48px;
  }

  #addCounselorPage .btn {
    font-size: 48px;
    width: 300px;
  }

  #addCounselorPage .form-label {
    font-size: 48px;
  }

  #addCounselorPage .form-control {
    width: 1200px;
    font-size: 48px;
  }

  #addCounselorPage .form-check-input {
    height: 48px;
    width: 48px;
  }

  #addCounselorPage #submitContainer {
    text-align: center;
  }

  /* register page */

  #registerPage h1 {
    font-size: 72px;
    text-align: center;
  }

  #registerPage .form-label{
    font-size: 48px;
  }

  #registerPage .form-control{
    font-size: 48px;
    width: 1200px;
  }

  #registerPage #registerButton {
    text-align: center;
  }

  #registerPage .btn {
    width: 300px;
    font-size: 48px;
  }

    /* login page */

    #loginPage {
      width: 1200px;
    }

    #loginPage h1 {
      font-size: 72px;
      text-align: center;
    }
  
    #loginPage .form-label{
      font-size: 48px;
    }
  
    #loginPage .form-control{
      font-size: 48px;
      width: 1200px;
    }
  
    #loginPage .btn {
      width: 300px;
      font-size: 48px;
    }

    #loginPage p {
      font-size: 36px;
    }
  

  /* user list page */
  #userListPage h1 {
    font-size: 72px;
  }

  #userListPage .form-input {
    font-size: 36px;
  }

  #userListPage .form-control {
    font-size: 36px;
  }

  #userListPage #button-addon2 {
    font-size: 36px;
  }

  #userListPage h5 {
    font-size: 28px;
    width: 400px;
  }

  #userListPage p {
    font-size: 24px;
    width: 400px;
  }

  #userListPage input[type="radio"] {
    height: 28px;
    width: 28px;
  }

  #userListPage #radioContainer {
    width: 500px;
  }

  #userListPage label {
    font-size: 28px;
  }

  #userListPage .btn {
    font-size: 28px;
  }

  /* user profile page */

  #userProfilePage h1 {
    font-size: 72px;
    text-align: center;
  }

  #userProfilePage input {
    font-size: 36px;
    width: 1200px;
  }

  #userProfilePage label {
    font-size: 36px;
  }

  #userProfilePage .btn {
    font-size: 36px;
  }

  #userProfilePage #buttonContainer {
    text-align: center;
  }

  .modal-dialog {
    max-width: 1250px;
    margin-top: 200px;
    margin-bottom: 150px;
  }

  .modal-dialog h1 {
    font-size: 72px;
  }

  .modal-dialog .form-label {
    font-size: 36px;
  }

  .modal-dialog .form-control {
    font-size: 36px;
  }

  .modal-dialog .btn {
    font-size: 48px;
  }

  /* forgot password page */

  #forgotPasswordPage {
    width: 1200px;
  }

  #forgotPasswordPage h1 {
    font-size: 72px;
    font-weight: bold;
  }

  #forgotPasswordPage input {
    font-size: 48px;
  }

  #forgotPasswordPage .btn {
    font-size: 48px;
    margin-left: 5px;
  }

  /* HEADER */

  .header {
    height: 150px;
  }
  
  .inner_header {
    width: 1200px;
  }

  .logo_container #img-logo {
    width: 150px;
    height: 150px;
    padding-top: 20px;
  }

  .header .button_container .btn {
    font-size: 48px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 15px;
    height: 90px;
  }

  .popover {
    max-width: 100%;
    width: 600px;
  }

  .popover label, .popover input, .popover .btn {
    font-size: 48px;
  }

  .popover p, .popover a {
    font-size: 36px;
  }

  #findACounselorButton {
    width: 500px;
  }

  #loginButton {
    height: 85px;
  }

  #menu-icon {
    width: 150px;
  }

  .header .dropdown-menu {
    border: 1px solid blue;
  }

  #mobile_menu {
    width: 100px;
  }

  #mobile_menu a {
    font-size: 60px;
    font-weight: bold;
    padding-right: 20px;
  }

  #mobile_menu_trigger.show {
    transform: translate3d(0px, 160px, 0px) !important;
  }

  /* FOOTER */
  .footer, .footer-inner {
    height: 100px;
  }

  .footer .container {
    max-width: 1200px;
    width: 1200px;
  }

  .footer small {
    font-size: 48px;
    font-weight: bold;
  }

  .footer img {
    width: 72px;
    height: 72px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .footer #companyName {
    width: 350px;
  }

  .footer #registerPrompt {
    width: 550px;
  }

  .footer #footerLinks {
    width: 300px;
  }


}

/* TABLET DEVICES */
@media only screen and (min-device-width: 576px) and (max-device-width: 1024px)
 {
   body {
     padding-top: 5vh;
     padding-bottom: 5vh;
   }
   body, h1, h2, h3, h4, h5, h6 {
     width: 65vw;
   }

  /* home page */

  #homeContainer h1 {
    padding-top: 2vh;
    text-align: center;
    width: 65vw;
    font-size: 120px;
  }

  #homeContainer .primary-button {
    margin-left: 28vw;
  }

  #homeContainer h3 {
    width: 65vw;
    font-size: 96px;
  }

  #homeContainer .carousel-item {
    width: 65vw;
    height: 36vh;
  }

  #homeContainer .carousel-inner {
    width: 65vw;
    height: 36vh;
  }

  #homeContainer .btn {
    font-size: 60px;
    width: 300px;
  }

  /* about page */

  #aboutPage .col, #aboutPage h1, #aboutPage h2, #aboutPage h4, #aboutPage p {
    width: 60vw;
    text-align: center;
  }

  #aboutPage h2, #aboutPage h4 {
    font-size: 96px;
    padding: 5px;
  }

  #aboutPage h1 {
    font-size: 120px;
    font-weight: bold;
  }

  #aboutPage h4 {
    font-size: 72px;
    font-weight: bold;
    text-align: center;
  }

  /* faq page */

  #faqPage , #faqPage h1, #faqPage h4, #faqPage p {
    width: 65vw;
  }

  #faqPage h1 {
    font-size: 120px;
  }

  #faqPage h4 {
    font-size: 72px;
    padding-bottom: 5px;
    padding-top: 10px;
  }

  #faqPage p {
    font-size: 60px;
  }

  /* contact page */
  #contactPage .container {
    width: 65vw;
  }

  #contactPage .form-control {
    width: 65vw;
    font-size: 96px;
  }

  #contactPage #firstName, #contactPage #lastName {
    margin-bottom: 25px;
  }

  #contactPage h1 {
    font-size: 120px;
    font-weight: bold;
  }

  #contactPage label {
    font-size: 96px;
  }

  #contactPage .form-check-input {
    font-size: 96px;
    padding: 5px;
  }

  #contactPage .form-check-label {
    font-size: 96px;
    padding-right: 140px;
  }

  #contactPage .btn {
    font-size: 72px;
  }

  #contactPage .primary-button {
    margin-left: 15vw;
  }

  /* find a counselor page */

  #filterPage {
    width: 65vw;
  }

  #filterPage h1, #filterPage h2, #filterPage h3, #filterPage h5, #filterPage h6, #filterPage p {
    width: 65vw;
    text-align: left;
  }

  #filterPage #rolePrompt {
    width: 20vw;
    font-size: 72px;
  }

  #filterPage #filterButton {
    font-size: 72px;
    width: 600px;
  }

  #filterPage h1 {
    font-size: 120px;
  }

  #filterPage label {
    font-size: 72px;
    font-weight: bold;
  }

  #filterPage a {
    font-weight: bold;
  }

  #priceIndicator {
    font-size: 72px;
    font-weight: bold;
  }

  #customRange1 {
    padding-bottom: 50px;
  }

  #customRange1::-webkit-slider-runnable-track {
    height: 48px;
    width: 65vw;
  }

  #customRange1::-webkit-slider-thumb {
    height: 56px;
    width: 56px;
  }

  #filterDropdowns {
    width: 65vw;
  }

  #locationOptions label {
    font-size: 72px;
  }
  
  #locationOptions .form-select {
    font-size: 96px;
  }
  
  #locationOptions input {
    height: 96px;
    width: 96px;
  }

  #counselorPic {
    height: 15vh;
  }

  #counselorImage {
    height: 15vh;
  }

  #counselorInfo p {
    font-size: 48px;
    width: 40vw;
  }

  #counselorInfo small {
    font-size: 36px;
  }

  #counselorInfo h5 {
    font-size: 60px;
  }

  #counselorInfo h6 {
    font-size: 48px;
  }

  #counselorInfo .btn {
    font-size: 48px;
  }

  #counselorBio p {
    font-size: 48px;
    width: 60vw;
  }

  #counselorBio h5 {
    font-size: 60px;
  }

  #counselorBio h6 {
    font-size: 48px;
  }

  #counselorBio .btn {
    font-size: 48px;
  }

  #counselorCredentials {
    font-size: 48px;
  }

  #counselorImage {
    max-height: 500px;
    width: auto;
  }

  .buttonContainer {
    text-align: center;
  }


    /* add a counselor page */
    #addCounselorPage {
      width: 65vw;
    }

    #addCounselorPage h1 {
      font-size: 120px;
      width: 60vw;
    }
  
    #addCounselorPage .image-upload {
      width: 60vw;
    }

    #addCounselorPage .image-upload__preview {
      width: 60rem;
      height: 60rem;
    }
  
    #addCounselorPage p {
      font-size: 60px;
      text-align: center;
    }
  
    #addCounselorPage .btn {
      font-size: 60px;
      width: 400px;
    }
  
    #addCounselorPage .form-label {
      font-size: 72px;
    }
  
    #addCounselorPage .form-control {
      width: 65vw;
      font-size: 72px;
    }
  
    #addCounselorPage .form-check-input {
      height: 96px;
      width: 96px;
    }
  
    #addCounselorPage #submitContainer {
      text-align: center;
    }

    /* register page */

    #registerPage {
      width: 65vw;
    }

    #registerPage h1 {
      width: 65vw;
      font-size: 120px;
      text-align: center;
    }

    #registerPage .form-label{
      font-size: 72px;
    }

    #registerPage .form-control{
      font-size: 72px;
      width: 65vw;
    }

    #registerPage #registerButton {
      text-align: center;
      font-size: 72px;
    }

    #registerPage .btn {
      width: 600px;
      font-size: 72px;
    }

    #registerPage .image-upload__preview {
      width: 800px;
      height: 800px;
    }

    /* login page */

    #loginPage {
      width: 65vw;
    }

    #loginPage h1 {
      font-size: 72px;
      text-align: center;
    }
  
    #loginPage .form-label{
      font-size: 60px;
    }
  
    #loginPage .form-control{
      font-size: 60px;
      width: 65vw;
    }

    #loginPage .form-input{
      font-size: 60px;
      width: 65vw;
    }
  
    #loginPage .btn {
      width: 65vw;
      font-size: 60px;
    }

    #loginPage p {
      width: 65vw;
      font-size: 72px;
    }
  
  /* user list page */
  #userListPage {
    width: 65vw;
  }

  #userListPage .card {
    width: 65vw;
  }

  #userListPage .card-body {
    width: 60vw;
  }

  #userListPage h1 {
    font-size: 120px;
  }

  #userListPage .form-input {
    font-size: 60px;
  }

  #userListPage .form-control {
    font-size: 60px;
  }

  #userListPage #button-addon2 {
    font-size: 60px;
  }

  #userListPage h5 {
    font-size: 60px;
    width: 25vw;
  }

  #userListPage p {
    font-size: 48px;
    width: 25vw;
  }

  #userListPage input[type="radio"] {
    height: 48px;
    width: 48px;
  }

  #userListPage #radioContainer {
    width: 25vw;
  }

  #userListPage label {
    font-size: 48px;
  }

  #userListPage .btn {
    font-size: 60px;
  }

  /* user profile page */

  #userProfilePage {
    width: 65vw;
  }

  #userProfilePage h1 {
    font-size: 120px;
    text-align: center;
  }
  
    #userProfilePage input {
      font-size: 72px;
      width: 65vw;
    }
  
    #userProfilePage label {
      font-size: 72px;
    }
  
    #userProfilePage .btn {
      font-size: 72px;
      width: 700px;
    }

    #userProfilePage #buttonContainer {
      width: 65vw;
      margin-left: 12vw;
    }

    .modal-dialog {
      max-width: 70vw;
      margin-top: 300px;
      margin-bottom: 150px;
    }
  
    .modal-dialog h1 {
      text-align: left;
      font-size: 96px;
    }
  
    .modal-dialog .form-label {
      font-size: 60px;
    }
  
    .modal-dialog .form-control {
      font-size: 60px;
    }
  
    .modal-dialog .btn {
      font-size: 72px;
    }

    #accessButton {
      margin-left: 12vw;
    }

    /* forgot password page */

    #forgotPasswordPage {
      width: 65vw;
    }
  
    #forgotPasswordPage h1 {
      font-size: 120px;
      font-weight: bold;
      width: 65vw;
    }
  
    #forgotPasswordPage input {
      font-size: 72px;
      width: 65vw;
    }
  
    #forgotPasswordPage .btn {
      font-size: 72px;
      width: 25vw;
      margin-left:15vw;
    }

    /* HEADER */

    .header {
      height: 200px;
    }
    
    .inner_header {
      width: 90vw;
    }

    .navigation li a {
      font-size: 60px;
      padding-left: 50px;
      padding-right: 50px;
    }

    .logo_container #img-logo {
      width: 180px;
      height: 180px;
      padding-top: 20px;
    }

    .header .button_container .btn {
      font-size: 60px;
      font-weight: bold;
      padding-left: 25px;
      padding-right: 25px;
    }

    .popover {
      max-width: 100%;
      width: 35vw;
    }

    .popover label, .popover input, .popover .btn {
      font-size: 72px;
    }

    .popover p, .popover a {
      font-size: 60px;
    }

    /* FOOTER */

    .footer, .footer-inner {
      height: 100px;
    }

    .footer .container {
      max-width: 100vw;
      width: 100vw;
    }

    .footer small {
      font-size: 60px;
      font-weight: bold;
    } 
    
    .footer a  {
      font-size: 60px;
      font-weight: bold;
    }

    .footer img {
      width: 72px;
      height: 72px;
    }

    .footer #companyName {
      width: 25vw;;
    }
  
    .footer #registerPrompt {
      width: 25vw;
    }
  
    .footer #footerLinks {
      width: 50vw;
    }
    
}

/* LARGE TABLET DEVICES */
@media only screen and (min-device-width: 1024px) and (min-device-height: 600px) and (max-device-width: 1280px) and (max-device-height: 800px)
 {
  #homeContainer .carousel-inner {
    width: 65vw;
    height: 55vh;
  }

  #homeContainer .carousel-item {
    width: 65vw;
    height: 55vh;
  }

  #counselorPic {
    height: 25vh;
  }

  #counselorImage {
    height: 25vh;
  }
 }